/build
*.obj
*.tlog
*.suo
vs2017/tmxparser/Debug/
vs2017/tmxparser/Debug-Dll/
vs2017/tmxparser/temp/tinyxml2/Win32-Debug-Dll/
vs2017/tmxparser/tmxparser/Debug/
vs2017/tmxparser/.vs/
vs2017/tmxparser/bin/tinyxml2/x64-Debug-Lib/
vs2017/tmxparser/bin/tinyxml2/x64-Release-Lib/
vs2017/tmxparser/temp/tinyxml2/x64-Debug-Lib/
vs2017/tmxparser/temp/tinyxml2/x64-Release-Lib/
vs2017/tmxparser/tmxparser/x64/Debug/
vs2017/tmxparser/tmxparser/x64/Release/
vs2017/tmxparser/x64/Debug/
vs2017/tmxparser/x64/Release/
*.log
*.pdb
*.user
